In [1]:
import requests
import numpy as np
import pandas as pd

In [9]:
NFL2022 = pd.read_csv('Full_NFL_Stats_2022.csv')
NFL2022.head()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
0,0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,1.0,13.0
1,1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,NaN,4.0
2,2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,NaN,62.0
3,3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,NaN,23.0
4,4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,NaN,8.0

In [14]:
NFL2022_df = NFL2022.drop(columns='Unnamed: 0')

In [15]:
NFL2022_df.head()

,teamName,displayName,description,abbreviation,value,perGameValue,rank
0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,1.0,13.0
1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,NaN,4.0
2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,NaN,62.0
3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,NaN,23.0
4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,NaN,8.0

In [18]:
NFL2022_df = NFL2022_df['rank'].sort_values()

In [19]:
NFL2022_df.head()

5242    1.0
7100    1.0
4568    1.0
4567    1.0
4563    1.0
Name: rank, dtype: float64